* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Space Mono", serif;
}

.space-mono-regular {
    font-family: "Space Mono", serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

table, thead, td, tr {
    border: black 1px solid;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: rgba(76,153,0,0.3) ;
    color: black;
}

.topRow {
    background-color: darkolivegreen;
    color: black;
    margin-bottom: 20px;
}